{
  "name": "com.8bit.bitwarden",
  "description": "Bitwarden browser <-> daemon bridge",
  "path": "__NATIVE_HOST_PATH__",
  "type": "stdio",
  "allowed_extensions": [
    "{446900e4-71c2-419f-a6a7-df9c091e268b}"
  ]
}
